@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

.btn-nav {
    background-color: #fff;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
    color: #e92d00;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
    border-bottom: red solid 5px;
    border-top: red solid 5px;
}
.btn-nav.active {
    color: #e92d00;
    padding: 2px;
    border-top: 6px solid #e92d00;
    border-bottom: 6px solid #e92d00;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.btn-nav.active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #e92d00 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
    font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
    border-bottom: red solid 2px;
    border-top: red solid 2px;
}

@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}
.fa-5x {
font-size: 5em;
padding-top: 25px;
}

/*----------------------------------------------------
	 Contact Style
------------------------------------------------------*/

.contact{
	background:#f8f8f8;
}
.contact .container{
	padding-top:75px;
	padding-bottom:0;
}
.mapArea{
	height:462px;
	overflow:hidden;
	width:100%;
	margin:0;
	background:#3b323c;
}
.mapArea iframe{
	width:100%;
	height:100%;
}
#map img { max-width: none; }


.contactDetails{
	background:#fff;
}
.contactDetails .container{
	padding-top:69px ;
	padding-bottom:50px ;
	text-align:center;
}

.conForm input,
.conForm textarea {
	float:none;
	display:inline-block;
}
.conForm input{
	background:#fafafa;
	border-bottom:solid 2px #ccc1cd !important;
	color:#805183;
	text-transform:uppercase;
	padding:15px 30px;
	border:none;
	margin-bottom:30px;
	outline:none;
}

.conForm textarea{
	background:#fafafa;
	color:#805183;
	text-transform:uppercase;
	border-bottom:solid 2px #ccc1cd !important;
	padding:15px 30px;
	border:none;
	margin-bottom:40px;
	outline:none;
	height:185px;
}

.conForm .submitBnt{
	background:none;
	font-family: 'Montserrat', sans-serif;
	color:#372d38;
	font-size:12px;
	letter-spacing:2px;
	text-transform:uppercase;
	font-weight:400;
	text-align:center;
	margin:0px;
	border:2px solid #746c75 !important;
	padding:0;
	width:260px;
	height:50px;
}
.conForm .submitBnt:hover{
	color:#000;
}

.textGroup{
	position:relative !important;
	display: inline-block;
	padding-left:0px !important;
}

#success_page{
	color: #00bdbd;
	font-weight: 500;
}
.error_message{
	color: #ff675f;
	padding-bottom: 15px;
	font-weight: 500;
}
#success_page h3{
	font-size:17px;
	color: #00bdbd;
}


.contactInfo{
	background:#101010 url(../images/contact-bg.jpg) repeat 0 0 fixed;
	text-align:center;
	padding:94px 0 35px;
	position:relative;
}
.contactInfo:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
}
.contactInfo .container{
	position:relative;
	z-index:2;
}

#message {
	margin-bottom:30px;
}
.cinfoBox{
	padding-bottom:40px;
}
.cinfoBox span.infoIcon{
	display:block;
	border:solid 2px #fff;
	margin:0 auto;
	margin-bottom:40px;
	font-size:60px;
	line-height:145px;
	width:150px;
	height:150px;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}
.cinfoBox p{
	font-weight:600;
	font-size:14px;
	color:#fff;
	padding-bottom:0px;
}
.cinfoBox p a{
	color:#fff;
	text-decoration:none;
}
.cinfoBox p a:hover{
	color:#ff554e;
}




